/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
*, *:before, *:after {
box-sizing:inherit;
}
*/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}
html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
header{
    padding-bottom: 5%;
}

/*Top Blue Header*/
.top-header-icons{
  background-color: #1c3961;
}
.top-header-icons ul {
  line-height: 4rem;
  display: flex;
  justify-content:center;
}
.top-header-icons > ul li ,ul a{
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
.nav-bar > ul >li >a {
    color:black;

}
.contactInfo{
  padding-right: 40%;
  padding-left: 2%;

}
.revealNum {
    opacity: 0;
    transition: opacity 400ms ease;
}
/****************************************************************************************************************/

/*Navbar and Logo*/

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2%;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 3rem;
  padding:1% 10% 0 10%;
  font-size: 1.5rem;
}
.nav-bar img {
  padding-left: 8%;
}
.nav-bar > ul > li:hover {
cursor: pointer;
text-shadow: 1px 1px 4px  #1c3961;
font-size: 1.52rem;
transition: all 200ms linear;
}

/****************************************************************************************************************/

/*Carousel section*/
.hotel-pictures-carousel{
  position: relative;
  padding: 2% 0;
}
.hotel-pictures-carousel img{
  width: 100%;
  
}
.banner ,.arrows-carousel{
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  top: 45%;
  text-align: center;
  display: block;
  width: 98%;
}

.bannerSwiper{
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 22%;
    left: 35%;
    top: 14rem;
    color: rgb(78, 78, 78);
    text-shadow: 2px 2px 4px lightblue;
   
}

.arrowbtn{
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
  color:#fff;
  padding: 0 1%;
}
.arrowbtn > span {
  width: 5%;
  border-radius: 3px;
}
.carouselPrev:hover, 
.carouselNext:hover {
background-color:rgba(0,0,0,0.5);
box-shadow: -2px 2px 4px rgb(39, 39, 39);
}

/****************************************************************************************************************/

/*Introduce Landlord section*/

.introduce{
  background-color:#f1f1f1 ;
  width: 80%;
  padding: 4%;
  margin: 0 auto;
  box-shadow: 2px 2px 6px rgb(180, 180, 180),-2px -2px 6px rgb(180, 180, 180);
  border-radius: 3px;
}
.introduce h4{
  color: #0f1e33;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}
.aboutLandlord > p {
  padding-top: 1.4rem;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
}
.mypic-name{
  float: left;
  width: 20%;
  padding-left: 2%;
  height: 100%;
}
.mypic-name >p{
  padding-left: 25px;
  text-decoration: underline;
  font-weight: 600;
}


/****************************************************************************************************************/

/*ROOMS CAROUSEL SLIDER*/
.rooms-carousel{
    border: 2px solid red;
 
    padding: 6% 4%;
    margin-top: 5%;
}
.rooms-container{
    display: flex;
    gap:4.2rem;
    border: 2px solid green;
    width: 85%;

    margin: 0 auto;
}
.roomInfo, .roomNum >img {
    width: 445px;
    display: block;
}
.roomNum{
    display: block;
    border: 2px solid blue;
}
.rooms-slider{
    background-color: rgb(230, 230, 230);
}

.mySwiper {
    margin: 2% auto;
    padding: 5% 0;
    width: 80%;
    
}

.swiper-button-prev {
   text-shadow:2px 2px 3px #021024;
}
.swiper-button-next {
   text-shadow:4px 1px 3px #021024;
}

.mySwiperCarousel{
    position: relative;
    width: 90%;
    height: 500px;
}
.mySwiperCarousel .swiper-slide img{
    width: 100%;
}


/************************************************************************************************/
/*ROOM CARD STYLING*/

.wrapper {
    width: 30%;
    min-width: 300px;
    background-color: #c3dacd;
    margin: 0 auto;
    padding: 2em 1em;
    box-sizing: border-box;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
    text-align: center;
  }
  .wrapper>h1 {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: .15em;
    color: #333;
  }
  .details {
    width: 95%;
    margin: 0 auto 2em;
    padding-top: 10.5em;
    padding-bottom: 1em;
    background-color: #FFEBC8;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    transition: all ease-in 0.15s;
  }
  
  .wrapper:hover .details{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 5px rgba(0,0,0,0.22);
    transform: translate(0px, -2px) scale(1.01);
  }
  
  .details>h1 {
    font-family: "Playfair Display";
    font-size: 1em;
  }
  .details>h2 {
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 0.1em;
  }
  .details>p {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
  }
  
  .image{
    position: relative;
    z-index: 2;
    width: 85%;
    height: 250px;
    margin: 0 auto -10em;
    background-size: cover;
    background-position: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    transition: all ease-in .15s;
  }
  .wrapper:hover .image{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate(0px, -3px) scale(1.02);
  }
    
  .i1{
      background-image: url(https://31.media.tumblr.com/9e9ba532a3174811c79e07bc4a61ebdc/tumblr_n92w6iRSjY1r5gmiko1_500.jpg);
  }
/*GALLERY*/
/********************************************************************************************************/
  .gallery-container{
      padding: 5% 0;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
      grid-auto-rows: 320px;
      font-size: 0;
    
  }
  .gallery-img-wrap{
      width: 380px;
      height: 100%;
      display: block;
  }
  .gallery-img-wrap img{
      width: 100%;
      height: 100%;
      display: block;
      filter: brightness(100%);
      transition: all 200ms ease-in-out;
  }
  .gallery-img-wrap img:hover{
      filter: brightness(50%);   
  }
  .places-to-visit > h4 {
      color: #0a254b;
      padding-top: 5%;
  }
  .places-to-visit > h4{
      position: relative;
      width: 40%;
      font-size: 2.2rem;
      margin: 0 auto;
      text-align: center;
      border-bottom:3px solid rgb(0, 0, 88) ;
      padding-bottom: 2%;
  }
  

  /*Services section*/
/********************************************************************************************************/
.room-services{
    padding: 4%;
    background: #2e3192;
    color: #fff;
}
.services-container{
    display: flex;
    justify-content: space-around;
}
.services-container >ul{
    width: 25%;
    list-style-type: none;
    line-height: 3rem;
    font-size: 1.2rem;
    padding-left: 5%;
}
.services-container > p{
    width: 60%;
    justify-self: end;
    font-size: 1.2rem;
    line-height: 1.4;
    
}

 /*Contact form section*/
/********************************************************************************************************/
.contact-form{
    background-color: #333;
   
}
.form-wrap {
    display: grid;
    grid-template-columns:  50% 50%;
    row-gap: 20px;
}
.contact-form div{
    padding:1% 10%;
    margin: 0 auto;

}
.contact-form input {
    width: 60%;
    line-height: 2rem;
    font-size: 1.2rem;
}
.contact-form > h2 {
    padding: 2% 0;
    text-align: center;
    color: #f1f1f1;
    font-size: 2.2rem;
    border-bottom: 4px solid rgb(77, 77, 77);
    width: 50%;
    margin: 0 auto;
}
.contact-form > div input, textarea {
    background-color: rgb(34, 34, 34);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 1.2rem;
    padding-left: 0.8rem;
}


textarea::placeholder{
    font-size: 1.2rem;
    line-height: 1rem;
    font-size: 2.2;
}

.contact-form >div button{
    width: 10%;
    padding: 0.5rem 0;
    margin: 0 1%;
    border: none;
    border-radius: 3px;
}
.form-btn{
    text-align: center;
    margin: 0 auto;
   
}


.textMSG textarea{
   width: 100%;
   line-height: 5rem;
}
button[type=submit]{
    background: #70f763;
    font-size: 1rem;
}
button.clear-form{
    background: rgb(187, 187, 187);
    font-size: 1rem;
}
button[type=submit]:hover, button.clear-form:hover{
    box-shadow: inset 4px 4px 5px rgb(126, 125, 125);
    font-weight: 600;
}
/*ifram map */
.map-container {
    padding: 5%;
    height: 100%;
    width: 100%;
}
iframe {
   
    width: 100%;
    height: 600px;
   

}

/*Footer*/
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(1,28,57);
    color: #fff;
}
footer p {
    padding: 5px 0;
}
footer h3 {
    color: rgba(0,0,0,1);
    border-bottom: 2px solid;
    
    width: 80%;
}
footer *:not(img){
    align-self: center;
}

.sometext {
    width: 30%;
}
/*MEDIA QUARIES*/
/*------------------------------------------------------------------------------------------------*/
  @media screen and (max-width:700px){
    #kati{
        width: 100%;
    }
  }

  